a.c
a.out
disks/
*.DAT
*.dat
*.o
CMakeCache.txt
CMakeFiles/
Makefile
*.bin
*.dis
*.elf*
*.hex
*.uf2
elf2uf2/
generated/
pico-sdk/
third_party
CMakeCache.txt
CMakeFiles/
Makefile
a.c
a.out
*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
disks/
elf2uf2/
generated/
pico-sdk/
